<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trade</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h2>Trading</h2>
    Trading is a very fun but very risky endeavor for most people. Our model here is here to take some of the risk out of your trades. 
    <br>
    We use a smart ml model that understands past price action and predicts the next days movement!
    <br>
    For those of you who subscribe we offer an even more extensive ml model that gives a general trned prediction for a much longer time period!
    <br>
    what exactly is being predicted: Our model determines its buy and sell based on if it thinks tomorrows closing price will be higher than todays closing price. Further improvements to predict the actual in addition to a direction are in the works! We only want the best for our fellow retail traders. Together we can beat the hedge funds!
    <br>
    <h4>Learn More</h4>
    What is Technical Analysis?


    <h2>Crypto</h2>
    For our gen Z tech savvy folks we also have predictions for crypto! Web3 is the future. Crypto is here to stay so we also have predictions for all of your favorite coins!
    <br>
    <h2>Paper Trading</h2>
    This is just a planned feature at the moment. We plan on including a paper trading challenge where users can challenge our trading bot to a weekly trading challenge. 
    What is paper trading?
    User uses fake money and competes against our bot
    Both start with $1000 and see who makes more. Costs nothing to enter each week except you have to be subscribed.
    <br>
    <h2>Our tech stack</h2>
    All we used is html, css, bootstrap, and js for the frontend. Python and Flask for the backend. 
    <br>
    The ML model was made, trained and tested in python and is being improved everyday!
    </body>
</html>