<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Paper Trading</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/stylesheets/style.css">

    </head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="menuitems">
          <a class="navbar-brand" href="/">
              <img src="../static/images/stockbot.png" width="30" height="30" class="d-inline-block align-top" alt="">
              WallStreetBot
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          </div>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto menuitems">
              <li class="nav-item">
                <a class="nav-link" href="/trade">Trade</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/crypto">Crypto</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/papertrading">Paper Trading</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/aboutus">About Us</a>
              </li>
            </ul>
          </div>
      
          <div class="logsig">
            <button class="section2_btn btn55" type="button">Log In</button> 
            <button class="section2_btn btn5" type="button">Sign Up</button>
          </div>
      </nav>
      </div>

      <div style="margin: 3rem"/>

        <div class="row featurette">
          <div class="col-md-7 infotext">
            <h2 class="featurette-heading">Buy low, sell high. <span class="text-muted"> Minimize your risk.</span></h2>
            <p class="lead">Stock Trading is a type of investing that prioritizes short term gains over long term gains. Stock trading can be very profitable, but also be very risky. It's important to have proper knowledge before diving into the stock market. Traders look at short term price fluctations and then try to buy low and then sell high. </p>
          </div>
          <div class="col-md-5">
            <img src="../static/images/hermes.jpeg" class="featurette-image img-fluid mx-auto">
            <center>Hermes- God of Trade</center>
          </div>
        </div>

        <hr class="featurette-divider" style="margin-bottom: 1.5rem">

        <footer class="container py-5">
          <div class="row">
            <div class="col-12 col-md">
              <h5>WallStreetBot</h5>         
              <small class="d-block mb-3 text-muted">&copy; 2022</small>
            </div>
            <div class="col-6 col-md">
              <h5>Features</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted footerstuff" href="#">Trade</a></li>
                <li><a class="text-muted footerstuff" href="#">Crypto</a></li>
                <li><a class="text-muted footerstuff" href="#">Paper Trading</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>About</h5>
              <ul class="list-unstyled text-small footerstuff">
                <li><a class="text-muted footerstuff" href="#">Team</a></li>
                <li><a class="text-muted footerstuff" href="#">Privacy</a></li>
                <li><a class="text-muted footerstuff" href="#">Terms</a></li>
              </ul>
            </div>
          </div>
        </footer>
</html>